//- file (module) configuration
- let isDarkTheme = false
- let darkClass = 'dark-theme'
- let lightClass = 'light-theme'

- let inputType = 'text'

- 
  let notInlineVariable
    = 'notInlineVariable';

//- configuration end

p(class=isDarkTheme ? darkClass : lightClass) dark p
p(class=isDarkTheme ? darkClass : lightClass) dark p
p(class=isDarkTheme ? darkClass : lightClass) dark p
p(class=isDarkTheme ? darkClass : lightClass) dark p
p(class=isDarkTheme ? darkClass : lightClass) dark p
p(class=isDarkTheme ? darkClass : lightClass) dark p

input(type=inputType)
input(type=inputType)
input(type=inputType)
input(type=inputType)
input(type=inputType)
input(type=inputType)

div= notInlineVariable
